@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gold: #9F8F5E;
  --blue: #0078D0;
  --red: #F0282D;
  --green: #00A651;
  --yellow: #FFB114;
  --white: #FFFFFF;
  --black: #000000;
}

body {
  @apply bg-white text-black font-sans;
  font-family: "Olympic Sans", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Olympic Headline", sans-serif;
  color: var(--blue);
}
